*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* Variáveis Fonts e de Cores */
:root {
  --fonte-padrao: 'Josefin Sans', sans-serif;
  --primaria: #4f46e5;
  --secondaria: #7c3aed;
  --escuro: #0f172a;
  --claro: #e2e8f0;
  --vidro: rgba(255, 255, 255, 0.1);
  --links: #5a6f8a;

}

/* Animações */
@keyframes flutuar {
   0%, 100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-20px);
   }

}

@keyframes flutuar_left {
   0%, 100% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(-40px);
   }

}

/* Estilo Geral */

html {
  scroll-behavior: smooth;
}

body {
   position: relative;
   background-image: url('../imgs/bg.webp');    
   background-size: cover;                  
   background-position: center;            
   background-repeat: no-repeat;           
   color: var(--claro);                   
   background-attachment: fixed;
   padding-bottom: 50px; 
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582); 
  z-index: 0;
}

body * {
  position: relative;
  z-index: 1;
}

.interface{
   max-width: 1280px;
   margin: 0 auto;
}

.logomarca{
   position: relative;
   display: flex;
   max-width: 180px;
   animation: flutuar_left 5s ease-in-out infinite;
}

header {
   padding: 40px 4%;
   position: fixed;
   background: rgba(15, 0, 20, 0.712);
   backdrop-filter: blur(10px);
   width: 100%;
   z-index: 100;
   top: 0;
   transition: top 0.5s ease-in-out; 
}

header > .interface{
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

header a{
   color: var(--links);
   font-family: var(--fonte-padrao);
   font-weight: 400;
   font-size: 18px;
   text-decoration: none;
   display: inline-block;
   transition: .2s ease;
}

header a:hover{
   color: var(--claro);
   transform: scale(1.05);
}

header .menu_header ul{
   list-style: none;

}

header .menu_header ul li{
   display: inline;
   padding: 0 20px;
}

header .menu_header ul li a::before{
   content: ' ';
   height: 3px;
   width: 0;
   position: absolute;
   bottom: -5px;
   left: 0;
   background: linear-gradient(90deg, var(--primaria), var(--secondaria));
}

header .menu_header ul li a:hover::before{
   width: 100%;
   transition: width .5s ease;
}

header .btn_falecomigo button{
   padding: 10px 40px;
   font-size: 18px;
   font-weight: 700;
   background-color: var(--secondaria);
   color: var(--claro);
   border: 0;
   border-radius: 30px;
   cursor: pointer;
   transition: .5s ease;
}

header .btn_falecomigo button:hover{
   background-color: var(--primaria);
   transform: scale(1.05);
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.personal{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.img_perfil{
   width: 300px;
   height: 300px;
   box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
   border-radius: 50%;
   border: 4px solid var(--vidro);
   animation: flutuar 5s ease-in-out infinite;
}

h1{
   font-family: var(--fonte-padrao);
   text-transform: uppercase;
   font-size: 30px;
   margin-top: 50px;
   color: var(--claro);
}

h2.title_page{
   font-family: var(--fonte-padrao);
   text-transform: uppercase;
   color: var(--claro);
   font-size: 38px;
   text-align: center;
   padding: 40px 0 40px 0;
}

h2.title_page span{
   color: var(--secondaria);
   font-weight: 700;
}

.p-personal{
   font-size: 18px;
   font-family: var(--fonte-padrao);
   color: var(--claro);
   font-weight: 300;
}

.particulas{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.5;
   background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
               radial-gradient(circle at 90% 80%, var(--secondaria) 0%, transparent 20%);
}

.caixa_desc{
   padding: 30px;
   max-width: 600px;
   margin: 0 auto;
   border-radius: 15px;
   border: 1px solid var(--vidro);
   background: rgba(15, 0, 20, 0.712);
   backdrop-filter: blur(10px);

}

.desc_p{
   font-family: var(--fonte-padrao);
   font-weight: 300;
   font-size: 18px;
   line-height: 20px;
   text-align: justify;
   color: var(--claro);
}

.especialidades {
  height: 100vh;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.especialidades .flex{
   gap: 50px;
}

.flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card_box{
   color: var(--claro);
   padding: 30px;
   justify-content: center;
   text-align: center;
   border-radius: 15px;
   transition: 0.5s ease;
   cursor: pointer;
}

.card_box:hover{
   transform: scale(1.05);
   box-shadow: 0px 5px 10px rgba(243, 243, 243, 0.3);
   transition: .5s ease;
   background: rgba(15, 0, 20, 0.712);
   backdrop-filter: blur(10px);
}

.card_box i{
   font-size: 80px;
   color: var(--secondaria);
   margin-bottom: 20px;
   color: var(--primaria);
}

.card_box h3{
   font-family: var(--fonte-padrao);
   font-size: 32px;
   font-weight: 500;
   margin-bottom: 10px;
   padding: 20px 0 20px 0;
}

.card_box p{
   font-family: var(--fonte-padrao);
   font-size: 18px;
   color: var(--claro);
   font-weight: 300;
}

.form_whatsapp{
   max-width: 600px;
   margin: 0 auto;
   border-radius: 15px;
   border: 1px solid var(--vidro);
   background: rgba(15, 0, 20, 0.712);
   backdrop-filter: blur(10px);
   padding: 30px;

}

.grupo_form{
   margin-bottom: 1.5rem;
}

.campo_form{
   width: 100%;
   padding: 1rem;
   background: rgba(8, 6, 22, 0.5);
   border-radius: 8px;
   color: var(--claro);
   border: 1px solid var(--vidro);
   outline: none;
   font-family: var(--fonte-padrao);
   font-size: 18px;
   font-weight: 400;
}

.campo_form::placeholder {
   color: var(--claro);      
   opacity: 0.6;              
   font-family: var(--fonte-padrao);
   font-weight: 300;
   font-size: 16px;      
}

.campo_form:focus{
   border-color: var(--secondaria);
   box-shadow: 0 0 5px rgba(124, 58, 237, 0.5);

}

.btn_form{
   color: var(--claro);
   background: linear-gradient(45deg, var(--primaria), var(--secondaria));
   padding: 20px 30px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   font-size: 16px;
   width: 100%;
   transition: all 0.5s ease;
}

.btn_form:hover{
   transform: translateY(-5px);
   box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.erro-popup {
  display: none;
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  animation: fadeIn 0.3s ease;
  font-family: var(--fonte-padrao);
  text-align: center;
}

.erro-popup.mostrar {
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
